/* ContactForm.css */

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.hiring_experts_subhead{
  text-align: center;
  color: gray;
  font-size: 24px;
}

.hiring_experts{
  font-size: 60px;
  text-align: center; 
}

.contact-image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.contact-image img {
  max-width: 100%;
  height: auto;
}

.contact-form {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
  margin: 0 0 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 120px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
